.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vmin;
  font-size: 2vmin;
}

.NavBar {
  a {
    border-radius: 0.8vmin;
    padding: 0.5vmin 1.5vmin;
    text-decoration: none;
    color: #f6f1f1;
  }

  a:hover {
    background-color: #f77503;
    color: whitesmoke;
  }

  a.active {
    background-color: rgb(247, 139, 23);
    color: whitesmoke;
  }

  span {
    background-color: rgb(247, 120, 23);
    color: rgb(250, 249, 248);
  }
}